* {
    margin: 0;
    padding: 0;
}
.nav {
    display:flex;
    justify-content: flex-end;
    flex-flow:row wrap;
    width:100%;
    background:#6ddaff;
}
.block {
    color:white;
    line-height:35px;
    display:block;
    width:243px;
    text-align:center;
    height:40px;
}

.block:hover {
    color:black;
    background:#ffffff;
}