p {
    color: red;
    text-align: center;
}

.green {
    color: green;
}

#pink {
    color: pink;
}

.link {
    color: red;
}

a {
  color: pink;
}

ul > li > ul {
    list-style-type: none;
}

ul li:last-child ul {
    list-style-type: square;
}

ul li:last-child ul a {
    text-decoration: none;
}
  
  