body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}
.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.point {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

@keyframes Arrow {
    from{
    rotate: 0deg;
    }
    to{
    rotate: 360deg;
    }
   }
   
.minute {
    display: flex;
    position: absolute;
    height: 300px;
    width: 5px;
    animation-name: Arrow;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.minute > div{
    transform: translate(0, +12px);
    display: flex;
    position: absolute;
    height: 130px;
    border: 3px solid rgb(0, 0, 0);
}

.hour {
    display: flex;
    position: absolute;
    height: 300px;
    width: 5px;
    animation-name: Arrow;
    animation-duration: 360s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hour > div{
    transform: translate(0, +82px);
    display: flex;
    position: absolute;
    height: 60px;
    border: 3px solid rgb(0, 0, 0);
}
   